<ion-content [fullscreen]="true">
  <h1 class="search-title">Mejores Servicios</h1>
  <div class="search-wrapper" [ngClass]="{ expanded: isExpanded }">
    <div class="search-button-holder">
      <ion-button (click)="searchToggle($event)" class="search-icon">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="input-holder">
      <ion-input style="color: black;" type="text" placeholder="Nombre Vehiculo" [(ngModel)]="searchTerm"
        class="search-input" (input)="onSearchInput()" (blur)="onInputBlur()"></ion-input>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let vehicle of filteredVehicles">
      <div class="vehicle-details">
        <span class="rating">{{ vehicle.make }} {{ vehicle.model }}</span>
        <span class="rating">Rating: {{ vehicle.rating }}</span>
        <ion-button (click)="chooseDriver(vehicle)" fill="outline" class="choose-button">Elegir</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="trips">
          <ion-icon name="car"></ion-icon>
          <ion-label>Mis Viajes</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToLogin()">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>