.trip-info {
    padding: 16px;
    text-align: left;
  }
  
  .vehicle-info, .driver-info {
    margin-bottom: 20px;
    padding: 16px;
    background-color: #f3f4f6;
    border-radius: 8px;
  }
  
  .vehicle-info h3, .driver-info h3 {
    margin-bottom: 10px;
    color: #333;
  }
  
  ion-button {
    margin-top: 20px;
  }
  