ion-content{
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/1011923.png") no-repeat center center / cover;
}

.login-section{
    height: 74vh;
    width: 100%;
    max-width: 500px;
    opacity: 0.89;
    background-color:rgb(249, 254, 255);
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    .heading{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color: #7b7b7b;
        }
    }
    .login-form{
        .form-input{
            position: relative;
            margin-bottom: 10px;
            ion-item::part(native) {
                padding-left: 0;
            }

            ion-icon{
                position: absolute;
                top: 19px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
            }
            ion-label{
                position: absolute;
                margin-left: 35px;
                font-weight: bolder;
                font-size: 0.8rem;
                top: 3px;
                text-size-adjust: 0.5;
            }

            ion-input{
                font-size: 0.9rem;
                --padding-start: 36px;
                --padding-top: 36px;
                color: #7b7b7b;
            }
        }
    }
    .action-buttons{
        text-align: center;
        .login-button{
            --background: #f9b801;
            width: 100%;
            font-weight: bold;
        }
        ion-loading.custom-loading {
            --background: #e3edff;
            --spinner-color: #1c6dff;
          
            color: #1c6dff;
          }
        p{
            margin-top: 15px;
            font-size: 1rem;
            color: #7b7b7b;
        }
        .signup{
            --boder-color: #b4b4b4;
            -color: #000000;
            font-weight: bold;
            margin-top: 30px;
            width: 100%;
        }
        

    }
}
.custom-tab-button a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 55px;
  }
  
  .custom-tab-button {
    --background: #242424;
    --color: white;
  }
  
  .custom-tab-button ion-icon {
    color: white;
  }
  