<ion-content [fullscreen]="true">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1 style="color: black;">Bienvenido!</h1>
      <p>Inicia sesion para continuar</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input
            type="email"

            labelPlacement="floating"
            helperText="Enter a valid email"
            errorText="Invalid email"
            ngModel
            email
          ></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input type="password" value="Contraseña123">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button id="iniciar sesion" size="large" class="login">Iniciar sesion</ion-button>
      <ion-loading class="custom-loading" trigger="iniciar sesion" message="Loading..." [duration]="3000" spinner="circles"></ion-loading>
      <ion-router-link routerLink="/restablecer-contraseña">
        <p style="color: rgb(136, 115, 231);">Olvidaste tu contraseña?</p>
      </ion-router-link>
      <ion-button class="signup" size="large" routerLink="/signup">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
