<ion-content [fullscreen]="true" scrollY="true">
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1 style="color: black;">Bienvenido!</h1>
      <p>Inicia sesión para continuar</p>
    </div>
    <div class="login-form ion-padding">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">EMAIL</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
          </ion-item>
          <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" style="color: red;">
            Por favor ingresa un correo válido.
          </p>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">PASSWORD</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
          <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red;">
            La contraseña debe tener al menos 8 caracteres.
          </p>
        </div>
        <div class="action-button ion-padding">
          <ion-button expand="full" size="large" type="submit">
            Iniciar sesión
          </ion-button>
          <ion-loading *ngIf="loading" message="Loading..." spinner="bubbles"></ion-loading>
        </div>
      </form>
      <p *ngIf="loginError" style="color: red;">Correo o contraseña incorrectos.</p>
      <ion-router-link routerLink="/restablecer-contraseña">
        <p style="color: rgb(56, 12, 250);">¿Olvidaste tu contraseña?</p>
      </ion-router-link>
      <ion-button class="signup" size="large" routerLink="/signup">Registrarse</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToInicio()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="goToUsers()">
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>