<ion-header>
  <ion-toolbar>
    <ion-title>Mis Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="trips.length === 0" class="no-trips">
    <p>No tienes viajes registrados.</p>
  </div>

  <ion-list *ngIf="trips.length > 0">
    <ion-item *ngFor="let trip of trips; index as i">
      <ion-label>
        <h2>Viaje {{ i + 1 }}</h2>
        <p><strong>Vehículo:</strong> {{ trip.vehicle.make }} {{ trip.vehicle.model }}</p>
        <p><strong>Conductor:</strong> {{ trip.driver.name.first }} {{ trip.driver.name.last }}</p>
        <p><strong>Fecha:</strong> {{ trip.date | date:'medium' }}</p>
      </ion-label>
      <ion-button color="danger" (click)="cancelTrip(i)">Cancelar Viaje</ion-button>
    </ion-item>
  </ion-list>
  
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
