/* Background and Container Styling */
ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
  url("/assets/1011923.png") no-repeat center center / cover;
}

.login-section {
  height: 80vh;
  width: 100%;
  max-width: 500px;
  opacity: 0.89;
  background-color: rgb(249, 254, 255);
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  text-align: center;
}

/* Heading Styles */
.heading {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: bolder;
}

.heading p {
  margin-top: 20px;
  font-size: 1rem;
  color: #7b7b7b;
}

/* Form Input Styles */
.login-form {
  .form-input {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      ion-item::part(native) {
          padding-left: 0;
      }

      ion-icon {
          position: absolute;
          top: 19px;
          left: 5px;
          z-index: 2;
          font-size: 1.2rem;
      }

      ion-label {
          position: absolute;
          margin-left: 35px;
          font-weight: bolder;
          font-size: 0.8rem;
          top: 3px;
      }

      ion-input {
          font-size: 0.9rem;
          --padding-start: 36px;
          --padding-top: 36px;
          color: #7b7b7b;
      }
  }
}

/* Password Strength */
.password-strength {
  margin-top: 10px;

  ion-progress-bar {
      --background: #e0e0e0;
      --filled-background: #f9b801;
  }

  p {
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center;
      margin-top: 5px;
  }
}

/* Action Buttons */
.action-buttons {
  text-align: center;
  margin-top: 20px;

  .login-button {
      --background: #f9b801;
      width: 100%;
      font-weight: bold;
  }

  p {
      margin-top: 15px;
      font-size: 1rem;
      color: #7b7b7b;
  }

  .signup-button {
      --border-color: #b4b4b4;
      --color: #000000;
      font-weight: bold;
      margin-top: 30px;
      width: 100%;
  }

  .recuperar-Password {
      --border-color: #546ee0;
      --color: #000000;
      font-weight: bold;
      margin-top: 30px;
      width: 100%;
  }
}

/* General Button Styling */
.action-buttons ion-button {
  margin-bottom: 10px;
}
