body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4; /* Fondo claro para el contenido */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

ion-header {
  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);

  .slides {
    background: #fff; /* Fondo blanco para resaltar el contenido */
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    margin-bottom: 20px;
  }

  ion-card {
    width: 100%;
    box-shadow: none;
    border-radius: 14px;
    padding: 14px;
    background: rgba(255,255,255,.8);

    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: #FFFFFF;
      box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .files {
      padding-top: 14px;
      width: 300px;
    }
  }

  .container {
    padding: 6px 20px;
    color: #FFFFFF;

    ion-item {
      --background: rgba(255,255,255,.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #FFFFFF;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(255,255,255,.66);
        }
      }
    }

    h2 {
      padding-bottom: 8px;
    }
  }
}

.info {
  margin-bottom: 20px;
}

.info h2 {
  font-size: 20px;
  color: #333; /* Color de texto oscuro para el título */
  margin-bottom: 10px;
  font-weight: 600;
}

.info p {
  font-size: 16px;
  color: #555; /* Color de texto más claro */
  margin: 5px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3880ff;
  border-radius: 25px; /* Bordes redondeados para los botones */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #3171e0;
  transform: scale(1.05); /* Escala el botón un poco al pasar el cursor */
}

.info p:last-of-type {
  margin-top: 10px;
}

.info img {
  width: 150px; /* Ajusta el tamaño del código QR */
  height: auto;
  border-radius: 10px; /* Bordes redondeados para la imagen del QR */
}

/* Estilo para la caja de búsqueda */
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  transition: width 0.4s ease;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
  background-color: #dbdfe2;
}

.search-wrapper.expanded {
  width: calc(100% - 20px);
  max-width: 360px;
}

.search-button-holder {
  position: absolute;
  z-index: 1;
  transition: opacity 0.4s ease;
}

.search-wrapper.expanded .search-button-holder {
  opacity: 0;
  pointer-events: none;
}

.input-holder {
  display: none;
  width: 100%;
  position: relative;
}

.search-wrapper.expanded .input-holder {
  display: flex;
}

.search-input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  cursor: pointer;
  position: relative;
  z-index: 2;
  font-size: 24px;
  border-radius: 25px;
  --border-width: 0;
}

input:focus {
  outline: none;
}
