<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goToCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="userProfilePicture" alt="User Profile Picture">
      </ion-avatar>
      <ion-label>
        <p>Hello {{ userName }}!</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center" style="color: black; font-weight: bold;">Bienvenido a
              TeLlevoAPP</ion-card-title>
            <ion-card-subtitle class="ion-text-center" style="font-size: 1.1em;">Facilitando tu transporte de regreso a
              casa</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <p style="line-height: 1.5;">
              TeLlevoAPP es la solución perfecta para aquellos estudiantes que buscan un transporte seguro y eficiente
              después de sus clases. Con nuestra plataforma, podrás conectarte fácilmente con otros estudiantes que
              tengan el mismo destino, optimizando así tu tiempo de viaje y fomentando un ambiente de comunidad y
              compañerismo.
            </p>
            <br>
            <p style="line-height: 1.5;">
              Nuestra aplicación te brinda acceso a diferentes opciones de transporte, desde automóviles compartidos
              hasta servicios de transporte privado, todo a través de una interfaz intuitiva y fácil de usar. Elige el
              servicio que mejor se adapte a tus necesidades y presupuesto, asegurando una experiencia de viaje cómoda y
              sin complicaciones.
            </p>
            <br>
            <p style="line-height: 1.5;">
              Con TeLlevoAPP, podrás programar tus viajes con anticipación y recibir notificaciones en tiempo real sobre
              el estado de tu transporte, permitiéndote planificar tus actividades diarias sin preocupaciones. ¡Únete a
              nuestra comunidad y descubre una nueva forma de desplazarte por la ciudad con seguridad y confianza!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="slides ion-margin-bottom">
    <div class="info">
      <h2>Contacto para Asistencia y Soporte</h2>
      <p>Institución: DuocUC, Vicerrectoría Académica, ET3</p>
      <p>Correo Electrónico de Soporte:¿</p>
      <p>Teléfono de Contacto: +56 2 1234 5678</p>
      <p>Horario de Atención: Lunes a Viernes, 9:00 AM - 6:00 PM</p>
    </div>

    <div class="info">
      <h2>Enlace de Descarga de APK</h2>
      <p><a href="http://localhost:8000/download" class="button">Descargar TeLlevoAPP</a></p>
      <p>Para acceder a través de dispositivos móviles, haz clic en el botón arriba.</p>
    </div>

    <div class="info">
      <p><strong>Dirección de la Oficina:</strong> Av. Vicuña Mackenna 4860, Santiago, Chile</p>
      <p><strong>Redes Sociales:</strong></p>
      <p>
        <a href="https://facebook.com/duocuc" class="button">Facebook</a>
        <a href="https://twitter.com/duocuc" class="button">Twitter</a>
        <a href="https://instagram.com/duocuc" class="button">Instagram</a>
      </p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="trips">
          <ion-icon name="car"></ion-icon>
          <ion-label>Mis Viajes</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToBuscar()">
          <ion-icon name="search"></ion-icon>
          <ion-label>Mejores Servicios</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="goToProfile()">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>