/* Estilos generales del cuerpo */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #e6f2ff; /* Fondo azul claro */
}

/* Contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para el encabezado */
ion-header {
  ion-toolbar,
  ion-item {
    --background: #b3c7e6; /* Fondo azul suave */
    background: #b3c7e6; 
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: #2c3e50; /* Azul oscuro */
    }

    p {
      font-weight: 500;
      font-size: 14px;
      color: #34495e; /* Gris oscuro */
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

/* Estilos para el contenido */
ion-content {
  --background: linear-gradient(90deg, #4a90e2 0%, #357abd 35%, #4a90e2 100%); /* Degradado azul */

  /* Estilo para los slides */
  .slides {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  ion-card {
    box-shadow: none;
    padding: 14px;
    background: rgba(255, 255, 255, .8);
  }

  .container {
    padding: 6px 20px;
    color: #2c3e50; /* Azul oscuro */

    ion-item {
      --background: rgba(255, 255, 255, .1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: #34495e; /* Gris oscuro */
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }
        h6 {
          color: rgba(0, 0, 0, .66);
        }
      }
    }

    h2 {
      padding-bottom: 8px;
      color: #2c3e50; /* Azul oscuro */
    }
  }
}

/* Estilos para la sección de información */
.info {
  margin-bottom: 20px;
}

.info h2 {
  font-size: 20px;
  color: #2c3e50; /* Azul oscuro */
  margin-bottom: 10px;
  font-weight: 600;
}

.info p {
  font-size: 16px;
  color: #555; /* Gris */
  margin: 5px 0;
}

/* Estilos para los botones */
.button {
  display: inline-block;
  font-size: 16px;
  color: #fff; /* Texto blanco */
  background-color: #007bff; /* Azul */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  size: 10px;
  padding: 5px 10px;
}

.button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  transform: scale(1.05);
}

/* Estilos para los contenedores de botones en los slides */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Estilos para los slides */
ion-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilos para los títulos */
.servicios-populares {
  display: none; /* Ocultando el título */
}
